<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
       <%= link_to 'Sample App', root_path, class: "navbar-brand", id: "logo" %>
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    <div class="navbar-collapse collapse">      <!-- or div class="navbar-collapse" -->
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home",  root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", signup_path %></li>
        </ul>
    </div>
  </div>
</header>
